.categories img{
    width: 100px;
}
.buy-now-button{
    color: white;
    background-color: #ff136ecb;
    border-radius: 5px;
}
.submit-btn{
    color: white;
    background-color: #ff136ecb;
    border-radius: 5px;
}